
//通用部分
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

li {
  list-style: none;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #fff;
}
